@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

#editor-background {
  background-color: black;
  background: repeating-linear-gradient(to bottom, #132b1e, #1a3225 10px, #132b1e 10px, #1a3225 20px);
}

#editor {
  color: #41b280;
  font: 20px "Share Tech Mono", monospace;
  text-shadow: lightgreen 0px 2px 10px;
  background-color: transparent;
  scrollbar-width: thin;
  scrollbar-color: #41b280 #1a3225;
}
#editor::-webkit-scrollbar-track {
  background-color: #1a3225;
}
#editor::-webkit-scrollbar-thumb {
  background-color: #41b280;
}

#preview-container {
  box-shadow: 0 0 0 3px rgba(50, 50, 50, 0.5), inset 0 0 0px 1px white, inset 0px 0px 10px 5px rgba(50, 50, 50, 0.3), 12px 15px 20px rgba(50, 50, 50, 0.3);
}

hr {
  height: 1px;
  color: #323232;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
