@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

$green-text: #41b280;
$text-glow: lightgreen 0px 2px 10px;
$term-font: 20px 'Share Tech Mono',monospace;
$stripe-one: rgb(26, 50, 37);
$stripe-two: rgb(19, 43, 30);

#editor-background {
    background-color: black;
    background: repeating-linear-gradient(to bottom,
            $stripe-two,
            $stripe-one 10px,
            $stripe-two 10px,
            $stripe-one 20px,
        );
}

#editor {
    color: $green-text;
    font: $term-font;
    text-shadow: $text-glow;
    background-color: transparent;

    // Scrollbar for firefox
    scrollbar-width: thin;
    scrollbar-color: $green-text rgb(26, 50, 37);

    // Scrollbar for chrome, opera, and other browsers; deprecated?
    &::-webkit-scrollbar {

        &-track {
            background-color: rgb(26, 50, 37);
        }

        &-thumb {
            background-color: $green-text;
        }
    }
}

#preview-container {
    box-shadow:
        0 0 0 3px rgba(50, 50, 50, .5),
        inset 0 0 0px 1px white,
        inset 0px 0px 10px 5px rgba(50, 50, 50, 0.3),
        12px 15px 20px rgba(50, 50, 50, 0.3);
}

hr {
    height: 1px;
    color: rgb(50, 50, 50);
    width: 100%;
}